body {
  background-color: #262626;
}

hr {
  border-color: red;
}

h3 {
  color: white;
}

li {
  color: white;
}

a {
  color: red;
}

p {
  color: white;
}

h1 {
  color: white;
}

td {
  color: white;
}

th {
  color: white;
}
